body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}
h1
{
    font-size: 34px;
    color: rgba(0,30,60,1); 
}


h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: white;
}

#balance {
  color: white;
}

.hint {
  color: #666;
}

.centralignHeader {
  color: #ffffff;
  font-size: 70px;
}

.imagesize {
  width: 100%;
  height: 100%
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color:#64B5F6; /* Green */
  color: #ffffff;
}
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
 
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.navbar-brand{
  color:deepskyblue
  

}
#deep{
  color:deepskyblue
}
#myNavbar{
  color: #FFF8DC
}
#send{
  color: black;
 background-color: #607D8B
  
  
}
.btn btn-primary pull-center{
  background-color:#18FFFF
}
.formfdgf{
  color:black
}
#man{
  background-color: currentColor;
  font-size: 20px;
  font-weight: 200;
}
#men{
  background-color:  gainsboro;
 color: white
}
#check{
width:22px;  
}
th{
  text-align:center !important;
}

body {
  padding: 5px;
}

table, th, td {
 border: 1px solid black;
}