
@media (min-width: 992px){
    .typo-line{
       padding-left: 140px;
       margin-bottom: 40px;
       position: relative;
   }
   .typo-line .category{
       transform: translateY(-50%);
       top: 50%;
       left: 0px;
       position: absolute;
   }
}
.all-icons [class*="pe-"]{
   font-size: 40px;
}
.all-icons input{
   border: 0;
}
.all-icons .font-icon-detail{
   text-align: center;
   padding: 45px 0px 30px;
   border: 1px solid #e5e5e5;
   border-radius: 6px;
   margin: 15px 0;
}
.all-icons .font-icon-detail input{
   margin: 25px auto 0;
   width: 100%;
   text-align: center;
   display: block;
   color: #aaa;
   font-size: 13px;
}
#map{
   position:relative;
   width:100%;
   height: calc(100% - 60px);
}
.places-buttons .btn{
   margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
   position: absolute;
   width: 100%;
   bottom: 10px;
}
.sidebar .nav > li.active-pro a{
   background:lightblue;
   opacity: 1;
   color: #FFFFFF;
}
.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
   text-align: center;
} 
.tftable {font-size:12px;color:#333333;display:inline-block;width:200px;border-width: 1px;border-color: #729ea5;border-collapse: collapse; margin-right:20px;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;width:200px;}
.tftable tr {background-color:#d4e3e5;width:200px;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;width:200px;}
.tftable tr:hover {background-color:#ffffff;}
.tables {display:inline-block;}
th {font-size:12px;background-color:gray;border-width: 1px;padding: 8px;border-style: solid;border-color: gray;text-align:center;width:200px;}
td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: gray;width:200px;  color: black;}
  
table{
  
      border: 1px solid lightblue;
    /* width:"100%"; */
    width: 800px;
    margin: 0px ;
    margin-top: 100px;
    margin-left:-168px;  
}
/* th{
   border-right-width:medium;
   border-right-color:#000;
   border-right-style:groove;
   width: 25%;
   
} */
label{
   /* display: inline-block;
   width: 250px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700; */
    width:180px;
    clear:left;
    text-align:right;
    padding-right:30px;
}
input,label {
 display: inline-block;

}
textarea {
   margin: 0;
   font: inherit;
   color: black;
}
.inline-div {
   display:inline-block;
}
.inline-txtarea {
   resize: none;
   border : 2px solid black;
   height:125px;
}
.container {
   
    position: relative;
    text-align: center;
    width: 850px;
    padding: 5px;
    margin: 0 auto;
    height: 850px;
    color: black;
    background:#82b2ee;
    border-width: 1px;
    border-color: black;
    
}  
.wrapper {
   margin: 0 auto;
    text-align: center; 
   
}
input[type="text"] {
   margin: 0 auto;
   margin-bottom:20px;
   /* text-align: center; */
}
input[type=file] {
    margin: 0 auto; 
   text-align: center;
}
.button {
   position: absolute;
  
}
.image {
   min-height: 560px;
   padding: 71px 0 65px 0;
   position: relative;
}
.containerprop {
   position: relative;
   text-align: center;
   width: 700px;
   padding:5px;
   margin: 0 auto; 
   height:400px;
   background:#d1d6d8;
border: 12px solid #120d5a;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
}
.btn-primary {
    border-color: azure;
    color: aliceblue;
}
.parent {
   display: table;
   width: 100%;
   color: black;
}
.form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
input[type=text]:hover,
input[type=password]:hover {
   border: 1px solid #b6bfc0;
   box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
input[type=text]:focus,
input[type=password]:focus {
   border: 1px solid #a8c9e4;
   box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
.container1{
    width: 960px;
    background: skyblue;
    height:100%;
    margin: 0 auto;
    border-width:1px;
    border-color:black;
}
.labelid {
    display: unset;
    width: 250px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: inherit;
    color: white;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}

.container2 {
    position: relative;
   text-align: center;
   color:skyblue;
}

p {
    font-size: 27px;
    line-height: 1.5;
    color: white;
}


input[type=file] {
    margin: 0 auto;
    text-align: center;
    color: white;
}
.containerdemo {
   
   width: 500px;
   height:400px;
   margin: 0 auto;
   border-width:1px;
   border-color:black;
   text-align:left;
 }  
 .form-control {
    margin:10px auto;
  
 }
 .document {
    margin:10px auto;
    height:98px;
 }
 .labelid {
    display: inline-block;
    width: 250px;
     max-width: 100%;
     text-align: center;
     margin-bottom: 5px;
     font-weight: 700;
 }
 .containerreg {
    position: relative;
    text-align: center;
    width: 600px;
    padding:5px;
    margin: 0 auto; 
    height:200px;
    color:black;
    background:#eee;
    border-width:1px;
    border-color:black;
    margin-top: 50px;
   
 }

 .containerreg1 {
    position: relative;
    text-align: center;
    width: 600px;
    padding:5px;
    margin: 0 auto; 
    height:450px;
    color:black;
    background:#eee;
    border-width:1px;
    border-color:black;
    margin-top: 50px;
 }
 .select {
    margin: 0;
    font: inherit;
    color: black;
 }
 .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 50px;
    margin-left: 214px;
    background-color: darkgray;
}
/*bootstrap*/

body{
    background-color: white;
}
.centered-form{
	margin-top: 100px;
}

.centered-form .panel{
	background: aqua;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.panel-title{
    font-size:23;
    text-align:center;
    justify-content: center;
}
.rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
  } 
  .jumbotron {
  
    margin-bottom: 30px;
    color: inherit;
    height: 650px;
    margin-left: 22px;
    width: 1250px;
    background-color:white;
} 



.header .text {
    font: x-large sans-serif;
    text-align: center;
}

 
.header .text {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}
/* button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}   */
.containerin {
    position: relative;
    text-align: center;
    width: 600px;
    padding:5px;
    margin: 0 auto; 
    height:250px;
    color:black;
    background:#d1d6d8;
    border-width:1px;
    border-color:black;
    border: 12px solid #120d5a;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
 }
 /* .input {margin-bottom:5px;} */
 #header {
   
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: -149px;
    margin-left: 2px;
    margin-right: 2px;
    background-color:teal;
    height: 80px;
    border-bottom: 1px solid #d3d3d3; 
    
} 
.navbarCollapse {
    border-color: aqua;
}

.org{
    /* float:left;
    background-color:magenta;
     width:100px; height:100px; 
     margin-top: 200px; 
     margin-left: 100px; */
     background:yellow; 
     border:1px solid #000;
     float:right; 
  min-height:230px; 
    margin-right:10px;

}
.prop{
    float:right;
		background:red;
		border:1px solid #000;
		min-height:230px;
        margin-right:10px;
}